environment_name = "dev"
os = "Ubuntu"
consul_server_count = "3" //NOTE if you change this, change the cluster size var in scripts/setup.sh
project = "theta-computing-123456"
image = "google-ubuntu-1502641418"
network = "default"
user = "YOURNAME!"
region = "us-central1"
zone = "us-central1-a"
// The contents of your public key
public_key = <<EOF
ssh-rsa FEJFKLJLKMLJkwjelkfjlwkejflkwef..........
EOF

// The contents of your creds file you get from Google, You can just copy paste over this
creds = <<EOF
{
  "type": "service_account",
  "project_id": "",
  "private_key_id": "",
  "private_key": "",
  "client_email": "",
  "client_id": "",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": ""
}
EOF
